<div class="a-section a-spacing-none" id="CardInstancewHK37iQm9Is07UcfFyLW-g" data-card-metrics-id="ameyal-product-shoveler_desktop-gateway-btf_1" data-mix-claimed="true">
  <div id="051a3415-c725-4d6e-940c-3ad96855a01d" class="a-section a-spacing-none shogun-widget card-lite product-shoveler aui-desktop fresh-shoveler">
    <div class="a-section as-title-block">
      <h2 class="as-title-block-left">
        <span class="a-color-base">Inspired by your shopping trends</span>
      </h2><span class="as-title-block-right"></span>
    </div>
    <div class="a-section a-spacing-none feed-carousel first-carousel">
      <div class="a-section feed-carousel-viewport">
        <ul class="a-unordered-list a-nostyle a-horizontal feed-carousel-shelf" role="list" style="left: -2480px;">
          <li data-sgproduct="{&quot;asin&quot;:&quot;B06XF19ZS2&quot;}" class="feed-carousel-card" aria-posinset="1" aria-hidden="false" role=
          "listitem" aria-setsize="20" style="display: inline-block; margin-right: 10px;">
            <span class="a-list-item">
              <a class="a-link-normal" href="/Float-Switch-Mounting-Bracket-Quantity/dp/B06XF19ZS2/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="Float Switch Pipe Mounting Bracket (Quantity 1)" src="https://m.media-amazon.com/images/I/61475lzZGHL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/61475lzZGHL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B07V6ZMV46&quot;}" class="feed-carousel-card" aria-setsize="20" aria-posinset="2" aria-hidden="false" role=
          "listitem" style="margin-right: 10px; display: inline-block;">
            <span class="a-list-item">
              <a class="a-link-normal" href="/Detector-Message-Powered-Batteries-Perfect/dp/B07V6ZMV46/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="MySpool Water Level Alert with Text Message and Email Notifications, Battery Powered with a Float Sensor" src="https://m.media-amazon.com/images/I/71A3CQZwquL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/71A3CQZwquL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B0D1N9JH54&quot;}" class="feed-carousel-card" aria-setsize="20" style="margin-right: 10px; display: inline-block;" aria-posinset="3" aria-hidden="false" role="listitem">
            <span class="a-list-item">
              <a class="a-link-normal" href="/Stainless-Steel-Mounting-Bracket-Sensor/dp/B0D1N9JH54/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="Stainless Steel Mounting Bracket for Water Level Float Sensor" src="https://m.media-amazon.com/images/I/51Bg90ScHrL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/51Bg90ScHrL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B0002YKBV2&quot;}" class="feed-carousel-card" aria-setsize="20" style="margin-right: 10px; display: inline-block;" aria-posinset="4" aria-hidden="false" role=
          "listitem">
            <span class="a-list-item">
              <a class="a-link-normal" href="/3M-8511PB1-Particulate-Respirator-10-Pack/dp/B0002YKBV2/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="3M N95 Respirator 8511, Cool Flow Valve, 10 Pack, NIOSH-APPROVED, Advanced Filter Media For Easy Breathing, Comfortable..." src="https://m.media-amazon.com/images/I/814FhxExzzL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/814FhxExzzL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B08SPZGHM5&quot;}" class="feed-carousel-card" aria-setsize="20" style="margin-right: 10px; display: inline-block;" aria-posinset="5" aria-hidden="false" role="listitem">
            <span class="a-list-item">
              <a class="a-link-normal" href="/Pinpoint-9-Volt-Battery-Universal-Adapter/dp/B08SPZGHM5/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="American Marine Inc. Pinpoint 9-Volt Battery Universal AC Adapter Kit 120VAC, 12 Foot Cable" src="https://m.media-amazon.com/images/I/71waZeYKcpL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/71waZeYKcpL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B00H95DME0&quot;}" class="feed-carousel-card" aria-setsize="20" style="margin-right: 10px; display: inline-block;" aria-posinset="6" aria-hidden="false" role="listitem">
            <span class="a-list-item">
              <a class="a-link-normal" href="/3M-MFB-9-Hand-Masker-Painters-400-Feet/dp/B00H95DME0/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="3M Hand-Masker Painter's Plastic Plus, 9 x 400-Feet, MFB-9" src="https://m.media-amazon.com/images/I/61J74BM+RpL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/61J74BM+RpL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B0BRXSF8NY&quot;}" class="feed-carousel-card" aria-setsize="20" style="margin-right: 10px; display: inline-block;" aria-posinset="7" aria-hidden="false" role="listitem">
            <span class="a-list-item">
              <a class="a-link-normal" href="/Detector-Detached-Detection-Monitoring-Battery/dp/B0BRXSF8NY/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="WiFi Water Leak / Water Level 2 in 1 Detector, Smart Water Sensor Alarms, Detached 16.4FT Dual Detection Line, Left and..." src="https://m.media-amazon.com/images/I/61W5bPoezFL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/61W5bPoezFL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B0773TZK7X&quot;}" class="feed-carousel-card" aria-posinset="8" aria-hidden="false" role="listitem" aria-setsize="20" style="display: inline-block;">
            <span class="a-list-item">
              <a class="a-link-normal" href="/Kings-Brand-6-inch-Furniture-Storage/dp/B0773TZK7X/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="Kings Brand Furniture - Heavy Duty Bed Risers - Furniture Risers 6 Inch Heavy Duty Risers for Sofa &amp; Table - Plastic..." src="https://m.media-amazon.com/images/I/91YJyrlcIvL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/91YJyrlcIvL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B0C4DCTXKB&quot;}" class="feed-carousel-card" aria-setsize="20" aria-posinset="9" aria-hidden="false" role="listitem" style="display: inline-block;">
            <span class="a-list-item">
              <a class="a-link-normal" href="/Monitor-WiFi-Enabled-Outdoor-Detector-Stainless/dp/B0C4DCTXKB/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="Risinglink Smart Water Level Monitor, WiFi-Enabled, Text/Email Alerts, Indoor/Outdoor Detector, Battery Powered,..." src="https://m.media-amazon.com/images/I/61kDvdB9eiL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/61kDvdB9eiL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B005OTLJIE&quot;}" class="feed-carousel-card" aria-setsize="20" aria-posinset="10" aria-hidden="false" role="listitem" style="display: inline-block;">
            <span class="a-list-item">
              <a class="a-link-normal" href="/Valterra-200-20W-Swing-Spring-Check/dp/B005OTLJIE/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="Valterra 200-20W PVC Swing (No Spring) Check Valve, White, 2&quot; Slip" src="https://m.media-amazon.com/images/I/514Wf0Hvb7L._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/514Wf0Hvb7L._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B0C3KXCY8B&quot;}" class="feed-carousel-card" aria-setsize="20" aria-posinset="11" aria-hidden="false" role="listitem" style="display: inline-block;">
            <span class="a-list-item">
              <a class="a-link-normal" href="/YoLink-Monitoring-Wireless-Battery-Powered-Condensate/dp/B0C3KXCY8B/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="YoLink LoRa Smart Water Level Monitoring Sensor, Wireless Battery-Powered Float Switch Alarm, Sump Pump Alarm, AC..." src="https://m.media-amazon.com/images/I/51mElFt-aWL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/51mElFt-aWL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B0753VW1B4&quot;}" class="feed-carousel-card" aria-setsize="20" aria-posinset="12" aria-hidden="false" role="listitem" style="display: inline-block;">
            <span class="a-list-item">
              <a class="a-link-normal" href="/Molex-Connector-Matched-4-Circuits-18-24/dp/B0753VW1B4/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="Molex Connector Lot, 5 Matched Sets, (4-Circuits) w/18-24 AWG, Pin Size: Standard .0165&quot; 4.2mm, Mini-Fit Jr ™" src="https://m.media-amazon.com/images/I/41OuQ70aTVL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/41OuQ70aTVL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B0077R9WWQ&quot;}" class="feed-carousel-card" aria-setsize="20" aria-posinset="13" aria-hidden="false" role="listitem" style="display: inline-block;">
            <span class="a-list-item">
              <a class="a-link-normal" href="/Kerick-Valve-PS150SS-Float-Standard/dp/B0077R9WWQ/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="Kerick Valve PS150SS PVC Float Valve, Standard Mount, 124 gpm at 50 psi, 1-1/2&quot; NPT Male" src="https://m.media-amazon.com/images/I/3131ruFqPCL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/3131ruFqPCL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B0C9WPB5FN&quot;}" class="feed-carousel-card" aria-setsize="20" aria-posinset="14" aria-hidden="false" role="listitem" style="display: inline-block;">
            <span class="a-list-item">
              <a class="a-link-normal" href="/Septic-System-Indicator-Indoor-Outdoor/dp/B0C9WPB5FN/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="Sump Pump Alarm High Water Septic Tank Alarm High/ Low Water Alarm Ideal for Sump Alarm System with 110dB Loud Alarm and..." src="https://m.media-amazon.com/images/I/81EdL1zQibL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/81EdL1zQibL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B00LW15F42&quot;}" class="feed-carousel-card" aria-setsize="20" aria-posinset="15" aria-hidden="false" role="listitem" style="display: inline-block;">
            <span class="a-list-item">
              <a class="a-link-normal" href="/HiLetgo-Channel-Isolated-Optocoupler-Trigger/dp/B00LW15F42/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="HiLetgo 2pcs DC 12V 2 Channel Relay Module with Isolated Optocoupler High and Low Level H/L Level Trigger Module..." src="https://m.media-amazon.com/images/I/71rOVzcwzIL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/71rOVzcwzIL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B09C1BZGSB&quot;}" class="feed-carousel-card" aria-setsize="20" aria-posinset="16" aria-hidden="false" role="listitem" style="display: inline-block;">
            <span class="a-list-item">
              <a class="a-link-normal" href="/HiTauing-Submersible-Over-Temperature-Protection-Freshwater/dp/B09C1BZGSB/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="HiTauing Aquarium Heater, 50W/100W/200W/300W/500W Submersible Fish Tank Heater with Over-Temperature Protection and..." src="https://m.media-amazon.com/images/I/612C0o8XoKL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/612C0o8XoKL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B000JOK11K&quot;}" class="feed-carousel-card" aria-setsize="20" aria-posinset="17" aria-hidden="false" role="listitem" style="display: inline-block;">
            <span class="a-list-item">
              <a class="a-link-normal" href="/Glentronics-Inc-BWD-HWA-00895001498-Basement/dp/B000JOK11K/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="THE BASEMENT WATCHDOG Model BWD-HWA 110 dB Battery Operated Water Alarm" src="https://m.media-amazon.com/images/I/71k1EadZkFL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/71k1EadZkFL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B0009WD1L4&quot;}" class="feed-carousel-card" aria-setsize="20" aria-posinset="18" aria-hidden="false" role="listitem" style="display: inline-block;">
            <span class="a-list-item">
              <a class="a-link-normal" href="/Zoeller-30-0181-Plastic-Check-Valve/dp/B0009WD1L4/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="Zoeller 30-0181 PVC Plastic Check Valve, 1-1/2 Inch" src="https://m.media-amazon.com/images/I/51hjlQn4mVL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/51hjlQn4mVL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B0069KD28C&quot;}" class="feed-carousel-card" aria-setsize="20" aria-posinset="19" aria-hidden="false" role="listitem" style="display: inline-block;">
            <span class="a-list-item">
              <a class="a-link-normal" href="/Oatey-39019-Sure-Vent-Plumbing-pressures/dp/B0069KD28C/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="Oatey 39019 Sure-Vent 2-Inch ABS Adapter Bulk Pack, 1-1/2-Inch Air Admittance Valve, 1.5 Inch, Black" src="https://m.media-amazon.com/images/I/71zjzscvXuL._AC_SY400_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/71zjzscvXuL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
          <li data-sgproduct="{&quot;asin&quot;:&quot;B07V7MBFJ8&quot;}" class="feed-carousel-card" aria-setsize="20" aria-posinset="20" aria-hidden="false" role="listitem" style="display: inline-block;">
            <span class="a-list-item">
              <a class="a-link-normal" href="/Weatherproof-WAVLINK-Wireless-Extender-Amplifier/dp/B07V7MBFJ8/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
                <img alt="WAVLINK AC600 Outdoor Weatherproof Wi-Fi Range Extender-Dual Band 2.4 &amp; 5GHz Long Range Wireless Internet Signal..." src="https://m.media-amazon.com/images/I/61lCprBlDfL._AC_SY200_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/61lCprBlDfL._AC_SY400_.jpg">
              </a>
            </span>
          </li>
        </ul>
        <div class="spinner" aria-hidden="true" style="display: none;"><i class="gw-spinner" role="presentation"></i></div>
      </div>
      <a aria-label="Carousel previous slide" class="a-link-normal feed-carousel-control feed-left" tabindex="-1" href="#" aria-hidden="true" style="display: inline;">
        <span class="gw-icon feed-arrow"></span>
      </a>
      <a aria-label="Carousel next slide" class="a-link-normal feed-carousel-control feed-right" tabindex="-1" href="#" aria-hidden="true" style="display: inline;">
        <span class="gw-icon feed-arrow"></span>
      </a>
      <span class="feed-scrollbar">
        <span class="feed-scrollbar-track">
          <span class="feed-scrollbar-thumb" style="width: 199.953px; left: 539.003px; display: none;"></span>
        </span>
      </span>
    </div>
    <script type="text/javascript">P.when("component-feed-carousel").execute(function(c) {c.createCarousel("#051a3415-c725-4d6e-940c-3ad96855a01d .feed-carousel", 10,  0 ); });</script>
    <script id="051a3415-c725-4d6e-940c-3ad96855a01d-btfCarouselContent" type="text/x-lazy-loaded-content">
      <li data-sgproduct="{&quot;asin&quot;:&quot;B0773TZK7X&quot;}" class="feed-carousel-card">
        <span class="a-list-item">
          <a class="a-link-normal" href="/Kings-Brand-6-inch-Furniture-Storage/dp/B0773TZK7X/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
            <img alt="Kings Brand Furniture - Heavy Duty Bed Risers - Furniture Risers 6 Inch Heavy Duty Risers for Sofa &amp; Table - Plastic..." src="https://m.media-amazon.com/images/I/91YJyrlcIvL._AC_SY200_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/91YJyrlcIvL._AC_SY400_.jpg"/>
          </a>
        </span>
      </li>
      <li data-sgproduct="{&quot;asin&quot;:&quot;B0C4DCTXKB&quot;}" class="feed-carousel-card">
        <span class="a-list-item">
          <a class="a-link-normal" href="/Monitor-WiFi-Enabled-Outdoor-Detector-Stainless/dp/B0C4DCTXKB/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
            <img alt="Risinglink Smart Water Level Monitor, WiFi-Enabled, Text/Email Alerts, Indoor/Outdoor Detector, Battery Powered,..." src="https://m.media-amazon.com/images/I/61kDvdB9eiL._AC_SY200_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/61kDvdB9eiL._AC_SY400_.jpg"/>
          </a>
        </span>
      </li>
      <li data-sgproduct="{&quot;asin&quot;:&quot;B005OTLJIE&quot;}" class="feed-carousel-card">
        <span class="a-list-item">
          <a class="a-link-normal" href="/Valterra-200-20W-Swing-Spring-Check/dp/B005OTLJIE/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
            <img alt="Valterra 200-20W PVC Swing (No Spring) Check Valve, White, 2&quot; Slip" src="https://m.media-amazon.com/images/I/514Wf0Hvb7L._AC_SY200_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/514Wf0Hvb7L._AC_SY400_.jpg"/>
          </a>
        </span>
      </li>
      <li data-sgproduct="{&quot;asin&quot;:&quot;B0C3KXCY8B&quot;}" class="feed-carousel-card">
        <span class="a-list-item">
          <a class="a-link-normal" href="/YoLink-Monitoring-Wireless-Battery-Powered-Condensate/dp/B0C3KXCY8B/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
            <img alt="YoLink LoRa Smart Water Level Monitoring Sensor, Wireless Battery-Powered Float Switch Alarm, Sump Pump Alarm, AC..." src="https://m.media-amazon.com/images/I/51mElFt-aWL._AC_SY200_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/51mElFt-aWL._AC_SY400_.jpg"/>
          </a>
        </span>
      </li>
      <li data-sgproduct="{&quot;asin&quot;:&quot;B0753VW1B4&quot;}" class="feed-carousel-card">
        <span class="a-list-item">
          <a class="a-link-normal" href="/Molex-Connector-Matched-4-Circuits-18-24/dp/B0753VW1B4/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
            <img alt="Molex Connector Lot, 5 Matched Sets, (4-Circuits) w/18-24 AWG, Pin Size: Standard .0165&quot; 4.2mm, Mini-Fit Jr ™" src="https://m.media-amazon.com/images/I/41OuQ70aTVL._AC_SY200_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/41OuQ70aTVL._AC_SY400_.jpg"/>
          </a>
        </span>
      </li><li data-sgproduct="{&quot;asin&quot;:&quot;B0077R9WWQ&quot;}" class="feed-carousel-card">
        <span class="a-list-item">
          <a class="a-link-normal" href="/Kerick-Valve-PS150SS-Float-Standard/dp/B0077R9WWQ/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
            <img alt="Kerick Valve PS150SS PVC Float Valve, Standard Mount, 124 gpm at 50 psi, 1-1/2&quot; NPT Male" src="https://m.media-amazon.com/images/I/3131ruFqPCL._AC_SY200_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/3131ruFqPCL._AC_SY400_.jpg"/>
          </a>
        </span>
      </li>
      <li data-sgproduct="{&quot;asin&quot;:&quot;B0C9WPB5FN&quot;}" class="feed-carousel-card">
        <span class="a-list-item">
          <a class="a-link-normal" href="/Septic-System-Indicator-Indoor-Outdoor/dp/B0C9WPB5FN/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
            <img alt="Sump Pump Alarm High Water Septic Tank Alarm High/ Low Water Alarm Ideal for Sump Alarm System with 110dB Loud Alarm and..." src="https://m.media-amazon.com/images/I/81EdL1zQibL._AC_SY200_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/81EdL1zQibL._AC_SY400_.jpg"/>
          </a>
        </span>
      </li>
      <li data-sgproduct="{&quot;asin&quot;:&quot;B00LW15F42&quot;}" class="feed-carousel-card">
        <span class="a-list-item">
          <a class="a-link-normal" href="/HiLetgo-Channel-Isolated-Optocoupler-Trigger/dp/B00LW15F42/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
            <img alt="HiLetgo 2pcs DC 12V 2 Channel Relay Module with Isolated Optocoupler High and Low Level H/L Level Trigger Module..." src="https://m.media-amazon.com/images/I/71rOVzcwzIL._AC_SY200_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/71rOVzcwzIL._AC_SY400_.jpg"/>
          </a>
        </span>
      </li>
      <li data-sgproduct="{&quot;asin&quot;:&quot;B09C1BZGSB&quot;}" class="feed-carousel-card">
        <span class="a-list-item">
          <a class="a-link-normal" href="/HiTauing-Submersible-Over-Temperature-Protection-Freshwater/dp/B09C1BZGSB/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
            <img alt="HiTauing Aquarium Heater, 50W/100W/200W/300W/500W Submersible Fish Tank Heater with Over-Temperature Protection and..." src="https://m.media-amazon.com/images/I/612C0o8XoKL._AC_SY200_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/612C0o8XoKL._AC_SY400_.jpg"/>
          </a>
        </span>
      </li>
      <li data-sgproduct="{&quot;asin&quot;:&quot;B000JOK11K&quot;}" class="feed-carousel-card">
        <span class="a-list-item">
          <a class="a-link-normal" href="/Glentronics-Inc-BWD-HWA-00895001498-Basement/dp/B000JOK11K/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
            <img alt="THE BASEMENT WATCHDOG Model BWD-HWA 110 dB Battery Operated Water Alarm" src="https://m.media-amazon.com/images/I/71k1EadZkFL._AC_SY200_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/71k1EadZkFL._AC_SY400_.jpg"/>
          </a>
        </span>
      </li>
      <li data-sgproduct="{&quot;asin&quot;:&quot;B0009WD1L4&quot;}" class="feed-carousel-card">
        <span class="a-list-item">
          <a class="a-link-normal" href="/Zoeller-30-0181-Plastic-Check-Valve/dp/B0009WD1L4/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
            <img alt="Zoeller 30-0181 PVC Plastic Check Valve, 1-1/2 Inch" src="https://m.media-amazon.com/images/I/51hjlQn4mVL._AC_SY200_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/51hjlQn4mVL._AC_SY400_.jpg"/>
          </a>
        </span>
      </li>
      <li data-sgproduct="{&quot;asin&quot;:&quot;B0069KD28C&quot;}" class="feed-carousel-card">
        <span class="a-list-item">
          <a class="a-link-normal" href="/Oatey-39019-Sure-Vent-Plumbing-pressures/dp/B0069KD28C/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
            <img alt="Oatey 39019 Sure-Vent 2-Inch ABS Adapter Bulk Pack, 1-1/2-Inch Air Admittance Valve, 1.5 Inch, Black" src="https://m.media-amazon.com/images/I/71zjzscvXuL._AC_SY200_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/71zjzscvXuL._AC_SY400_.jpg"/>
          </a>
        </span>
      </li>
      <li data-sgproduct="{&quot;asin&quot;:&quot;B07V7MBFJ8&quot;}" class="feed-carousel-card">
        <span class="a-list-item">
          <a class="a-link-normal" href="/Weatherproof-WAVLINK-Wireless-Extender-Amplifier/dp/B07V7MBFJ8/?_encoding=UTF8&amp;pd_rd_w=56Ktk&amp;content-id=amzn1.sym.b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_p=b7357207-673c-46e3-8e1e-3fc05e6f6106&amp;pf_rd_r=K60794A6PPQXK674DEGB&amp;pd_rd_wg=WmREr&amp;pd_rd_r=bf7df08b-3aed-433e-9ec6-958fcfa17ef8&amp;ref_=pd_hp_d_btf_cr_cartx">
            <img alt="WAVLINK AC600 Outdoor Weatherproof Wi-Fi Range Extender-Dual Band 2.4 &amp; 5GHz Long Range Wireless Internet Signal..." src="https://m.media-amazon.com/images/I/61lCprBlDfL._AC_SY200_.jpg" class="product-image" height="200px" data-a-hires="https://m.media-amazon.com/images/I/61lCprBlDfL._AC_SY400_.jpg"/>
          </a>
        </span>
      </li>
    </script>
    <script type="text/javascript">(function carouselBtf(d, w) {var p = d.getElementById("051a3415-c725-4d6e-940c-3ad96855a01d-btfCarouselContent"), h = p && p.innerHTML, v = h ? [h] : []; w.GWData = w.GWData || {}; w.GWData['051a3415-c725-4d6e-940c-3ad96855a01d'] = { loaded: false, data: v }; }(document, window));</script>
  </div>
</div>

    -webkit-text-size-adjust: 100%;
    color: var(--__N4QdCheV6mGo,#0f1111);
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 13px!important;
    line-height: 19px!important;
    box-sizing: border-box;
    margin-bottom: 0!important;
    background: #fff;
